footer
    ul.footer__nav
        li
            a(href='#') About us
        li 
            a(href='#') Become a teacher
        li 
            a(href='#') Contact us
        li 
            a(href='#') Careers
        li 
            a(href='#') Privacy Policy
   
    p.footer__copyright &copy; by Sarah Elias. All rights reserved.
    
  
