extends base

block header

block content
  main.neutral.login-signup-main 
    .signup-login-container
      a(href='/')
        .logo
          img(src='/img/logo.png' alt='bender symbol logo')
      
      form#signup-form
       .signup-login-form-container.form-container 
          h1 Create account
          div
            label Name 
            br 
            input.form-container-input#name(type='text' name='name' placeholder='Name and Lastname')
          

          div
            label Email 
            br 
            input.form-container-input#email(type='email' name='email')
          

          .bending#bending
            label Bending 

            label.air.choose__bending
              input.form-container-input(type='radio' name='bending' value='air')
              img(src='/img/air.png') 
             
            label.water.choose__bending
              input.form-container-input(type='radio' name='bending' value='water')
              img(src='/img/water.png') 
            
            label.earth.choose__bending
              input.form-container-input(type='radio' name='bending' value='earth')
              img(src='/img/earth.png') 
            
            label.fire.choose__bending
              input.form-container-input(type='radio' name='bending' value='fire')
              img(src='/img/fire.png') 
            

          div 
            label Password
            input.form-container-input#password(type='password' name='password' placeholder='At least 6 characters') 
          div 
            label Confirm password
            input.form-container-input#passwordConfirm(type='password' name='passwordConfirm')

          button.btn(type='submit') Create

          h6 Already have an account? 
            a(href='/login') Login 
    