<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Avatar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="../../public/css/style.css" />
  </head>
  <body class="water">
    <!--HEADER-->
    <header class="header">
      <div>
        <img src="../../public/img/logo-black.png" alt="logo" />
      </div>
      <!---->
      <div class="search-bar">
        <form>
          <input type="text" placeholder="search" />
          <button>
            <span class="material-symbols-outlined"> search </span>
          </button>
        </form>
      </div>

      <nav class="nav-user">
        <a href="#">My classes</a>
        <button class="header-btn">Log in</button>
        <button
          class="header-btn"
          style="background-color: black; color: white"
        >
          Sign up
        </button>
      </nav>
    </header>
    <!--closing header-->

    <!--MAIN-->
    <main>
      <div class="info-container">
        <div class="profile">
          <div class="img-div">
            <img src="./iroh.jpg" alt="profile-picture" />
          </div>

          <div class="presentation">
            <div>
              <h2>Sarah Oliveira Elias</h2>
              <label>
                <img src="../../public/img//water.png" />
              </label>
            </div>
            <br />
            <p>
              Professor de italiano formado e mestrando na ufrgs, 14 anos de
              experiência, cursos na itália e sempre atualizado!
            </p>
          </div>

          <div class="reviews-rating">
            <div class="rating">
              <div class="rating-stars">
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </div>
              <span class="rating-average">4.7</span>
            </div>
            <h6>455 reviews</h6>
          </div>
        </div>

        <div class="description">
          <div>
            <p>
              Lorem ipsum dolor sit amet. Qui rerum quidem et vero unde sit
              impedit dolorum aut molestias quaerat. Ab quam ducimus aut magni
              nisi ad eligendi quia ea inventore iste qui voluptas itaque qui
              quia illo sed nobis voluptatem. Et labore dolorum ut iusto
              repudiandae qui tempora dolore a fugit magni.
            </p>
            <br />
            <p>
              Vel expedita vero et consequatur quibusdam rem omnis dignissimos
              id omnis voluptatibus rem sint dolore est incidunt dolor. Vel
              accusantium voluptate aut fugit tempore aut fugit vero est nihil
              placeat qui ducimus placeat qui quia corrupti est mollitia
              nesciunt. Sit nesciunt animi sed placeat natus ea doloribus
              voluptas sed nihil nulla sed maxime corporis non velit nobis? Non
              explicabo nemo eum ducimus repellat aut sunt fuga.
            </p>
          </div>

          <div class="divider"></div>

          <div class="modalities">
            <div>
              <span>Presential classes</span>
              <span
                >This teacher is available for presential classes. You can find
                him on the adress below for your onsite classes.</span
              >
            </div>

            <div>
              <span>Adress</span>
              <span
                >Rua Tomé de Souza, 1145 - Savassi, Belo Horizonte - MG,
                30140-138
              </span>
            </div>

            <div>
              <span>Online classes</span>
              <span
                >Special classes are
                <strong style="color: #d51515">not allowed</strong> to be
                online.</span
              >
            </div>

            <div>
              <span>Number of students</span>
              <span>Private classes or in groups of up to 5 students</span>
            </div>
          </div>

          <div class="divider"></div>
        </div>

        <div class="reviews">
          <h2>Reviews</h2>

          <div class="review-card">
            <div class="review-card-img-div">
              <img src="./iroh.jpg" alt="user image" />
            </div>
            <div class="review-card-text">
              <h6>José da Silva Elias</h6>
              <p>
                Quo adipisci voluptas sed quia voluptatem quo voluptatum
                ratione. Rem magnam aperiam sed possimus repudiandae cum iure
                consequatur. Quo adipisci voluptas sed quia voluptatem quo
                voluptatum ratione. Rem magnam aperiam sed possimus repudiandae.
              </p>
            </div>
            <div class="rating">
              <div class="rating-stars">
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </div>
            </div>
          </div>

          <div class="review-card">
            <div class="review-card-img-div">
              <img src="../img/iroh.jpg" alt="user image" />
            </div>
            <div class="review-card-text">
              <h6>José da Silva Elias</h6>
              <p>
                Aenean fermentum. Donec ut mauris eget massa tempor convallis.
                Nulla neque libero, convallis eget, eleifend luctus, ultricies
                eu, nibh.
              </p>
            </div>
            <div class="rating">
              <div class="rating-stars">
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </div>
            </div>
          </div>

          <div class="review-card">
            <div class="review-card-img-div">
              <img src="../img/iroh.jpg" alt="user image" />
            </div>
            <div class="review-card-text">
              <h6>José da Silva Elias</h6>
              <p>
                Aenean lectus. Pellentesque eget nunc. Donec quis orci eget orci
                vehicula condimentum.Curabitur in libero ut massa volutpat
                convallis. Morbi odio odio, elementum eu, interdum eu, tincidunt
                in, leo. Maecenas pulvinar lobortis est.Phasellus sit amet erat.
                Nulla tempus. Vivamus in felis eu sapien cursus vestibulum.Proin
                eu mi.
              </p>
            </div>
            <div class="rating">
              <div class="rating-stars">
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </div>
            </div>
          </div>

          <div class="review-card">
            <div class="review-card-img-div">
              <img src="../img/iroh.jpg" alt="user image" />
            </div>
            <div class="review-card-text">
              <h6>José da Silva Elias</h6>
              <p>
                Cras non velit nec nisi vulputate nonummy. Maecenas tincidunt
                lacus at velit. Vivamus vel nulla eget eros elementum
                pellentesque. Quisque porta volutpat erat. Quisque erat eros,
                viverra eget, congue eget, semper rutrum, nulla. Nunc purus.
                Phasellus in felis. Donec semper sapien a libero. Nam dui. Proin
                leo odio, porttitor id, consequat in, consequat ut, nulla. Sed
                accumsan felis. Ut at dolor quis odio consequat varius. Morbi
                non lectus. Aliquam sit amet diam in magna bibendum imperdiet.
                Duis bibendum. Morbi non quam nec dui luctus rutrum.
              </p>
            </div>
            <div class="rating">
              <div class="rating-stars">
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star </span>
                <span class="material-symbols-outlined"> star_half </span>
              </div>
            </div>
          </div>
          <button class="btn">More reviews</button>
        </div>
      </div>

      <div class="left-container">
        <div class="buy-container">
          <span>Try 20 minutes for free</span>
          <span>$ 29,89</span>
          <!-- <br />
          <br /> -->
          <button class="btn">book a class</button>
          <div>or</div>
          <button class="btn font-color-secondary">send a message</button>
        </div>

        <div class="brief-container">
          <div>
            <span class="material-symbols-outlined"> bolt </span>
            <span> Learn <strong>lightning</strong> bending </span>
          </div>

          <div>
            <span class="material-symbols-outlined"> videocam </span>
            <span
              >Both <strong>Online</strong> and <strong>Onsite</strong> classes
            </span>
          </div>

          <div>
            <span class="material-symbols-outlined"> group_add </span>
            <span>
              <strong>Private</strong> classes or in <strong>groups</strong> of
              up to 5 students
            </span>
          </div>
        </div>
      </div>
    </main>
    <!--closing main-->

    <!--FOOTER-->
    <footer>
      <ul>
        <li>Copyright by Sarah Elias</li>
        <li>About us</li>
      </ul>
    </footer>
    <!--closing footer-->
  </body>
</html>
